<div class="container">
<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body" style="width: 80%">
  

<p>
  <strong>Nom de la tâche:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Désignation:</strong>
  <%= @task.task_designation %>
</p>

<p>
  <strong>Date butoire:</strong>
  <%= @task.date_butoire %>
</p>

</div>

</div>
</div>