<div class="container">
<p id="notice"><%= notice %></p>



<div class="card" style="width: 25rem; text-align: center; margin: auto">
 
<p>
  <strong>Nom du collaborateur:</strong>
  <%= @collaborator.collaborator_name %>
</p>

<p>
  <strong>Email du collaborateur</strong>
  <%= @collaborator.collaborator_email %>
</p>


</div>

</div>